h1 {
 text-align: center;
 font-size: 90px;
 font-style: italic;
 color: rgb(20, 228, 193);
 

}
form {
  text-align: center;
  font-size: 40px;
  color: rgb(20, 228, 193);

   }
body{
   background-color: rgb(238, 81, 8);
}
div{
   padding: 5px;
   border: 10px;
   margin: 20px;
   background: -moz-linear-gradient(100deg,green,pink,blue);
}
@media  onscreen  and (max-width:600px)
 {
   div{
      padding: 3px;
      border: 5px solid rgb(231, 9, 76);
      margin: 10px;
      background: -moz-linear-gradient(100deg,green,pink,blue);
   }
   h1 {
      text-align: center;
      font-size: 40px;
      font-style: inherit;
      color: aqua;
   }
}

 

